#######################################################################
# Author: Lehlohonolo Adolf Matobakele  
# Email: lehlohonolo.matobakele@gov.ls
# Contacxt: 00266 62320704
#######################################################################
__pycache__/
*.py[cod]
.venv/
venv/
downloads/
*.part
*.ytdl
*.temp.*
cookies.txt
*.cookies.txt

